@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" @*style="width:auto;height:400px"*@ style="background-image:url(../../Content/sale_tag.jpg);width:auto;height:500px">
  
</div>

<div class="row">
   
</div>